.gallery {
  margin-bottom: 40px;

  &__title {
    text-transform: uppercase;
    color: $accent;
    font: $font-big;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    &::after,
    &::before {
      content: '';
      width: 200px;
      height: 2px;
      background-color: $accent;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    gap: 20px 50px;
  }

  &__item {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    max-height: 390px;

    &:hover {
      .gallery__item-descr {
        background-color: rgba($black, .8);

      }
    }

    &-descr {
      transition: background-color .3s;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 40px 0;
      background-color: rgba($black, .5);
    }
  }
}