.hero {
	padding: 170px 0 100px;
	background-image: url('../images/dest/hero-bg.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	&::after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background: linear-gradient(198.73deg, rgba(0, 0, 0, 0.0001) 15.31%, rgba(0, 0, 0, 0.837986) 67.37%);
	}
	&__info {
		margin-right: 40px;
	}

	&__title {
		margin-bottom: 70px;
		font: 700 60px/ 70px $font;
	}

	&__subtitle {
		max-width: 330px;
		margin-bottom: 85px;
	}

	&__btn {
		padding: 16px 34px;
		background-color: $gray;
		border: 1px solid $accent;
		border-radius: 10px;
		letter-spacing: 2px;
		font: 400 16px/18px $font;
		transition: background-color .3s;

		&:hover {
			background-color: $dark-gray;
		}
	}
}

.slider {
	height: 440px;
	width: 640px;
	overflow: hidden;
	background-color: $black;

	&-wrapper {
		padding: 40px 0;
		position: relative;
		z-index: 1;

		&::after {
			position: absolute;
			top: 0px;
			left: 100px;
			width: 100%;
			height: 100%;
			content: '';
			border: 10px solid $accent;
			z-index: -1;
			border-right: none
		}
	}
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9999;
	cursor: pointer;
}

.slick-prev {
	left: 0;
}

.slick-next {
	right: 0;
}

.slick-dots {
	display: flex;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);

	li {
		margin-left: 14px;

		&.slick-active {
			button {
				background-color: $accent;
			}
		}

		button {
			width: 13px;
			height: 13px;
			border: none;
			background-color: #fff;
			font-size: 0;
			border-radius: 50%;
		}
	}
}