.modal-popup-otdelka{
  position: absolute;
  top:50%;
  max-width: 1270px;
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  align-items: center;
  background-color: #fff;
  z-index: 100;
  img{
    display: block;
    max-width: 400px;
    width: 100%;
  }
}