.uslugi {
	padding: 49px 0;

	&__title {
		font: $font-big;
		border-bottom: 2px solid $accent;
		padding: 20px;
		width: fit-content;
		margin: 0 auto 30px;
		color: $black;
	}

	&__btns {
		max-width: 390px;
		width: 100%;
		margin-right: 20px;
	}

	&__btn {
		width: 100%;
		height: 180px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		border: 1px solid $accent;
		border-radius: 10px;
		z-index: 1;
		font: $font-defult;
		transition: color .3s;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

		&--active {
			color: $accent;
		}

		&.uslugi__btn--active {
			&::after {
				background-color: rgba($black, .9);
			}
		}

		&:hover {
			color: $accent;

			&::after {
				background-color: rgba($black, .9);
			}
		}

		&::after {
			transition: all .3s;
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba($black, .7);
			z-index: -1;
			border-radius: 10px;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		&-icon {
			position: absolute;
			bottom: 10px;
			left: 10px;
			width: 13px;
			height: 13px;
		}
	}

	&__info {
		background-image: url(../images/dest/uslugiBtnImg/infoBg.webp);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border: 1px solid $accent;
		border-radius: 10px;
		max-width: 590px;
		width: 100%;
		padding: 43px 0;
		position: relative;
		z-index: 1;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba($black, .6);
			z-index: -1;
			border-radius: 10px;
			backdrop-filter: blur(9px);
		}

		&-title {
			font: 400 24px / 28px $font;
			text-align: center;
			margin-bottom: 30px;
			color: $accent;
		}

		&-list {
			margin-bottom: 40px;
			padding: 0px 35px 0px 103px;
		}

		&-item {
			font: $font-small;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	&__more {
		margin: 0 40px 0 auto;
		display: block;
		width: fit-content;
		color: $accent;
	}
}