.hidden {
	overflow: hidden;
}

.visible {
	overflow: visible;
}

//display--------------------------------------------------------------------------------------------------
.display-b {
	display: block;
}

// gird--------------------------------------------------------------------------------------------------
.display-grid {
	display: grid;
}

.gird-20g {
	grid-template-columns: repeat(12, 1fr);
	gap: 20px
}

.gird-30g {
	grid-template-columns: repeat(12, 1fr);
	gap: 30px
}

.grid-40g {
	grid-template-columns: repeat(12, 1fr);
	gap: 40px
}

//grid--------------------------------------------------------------------------------------------------
// flex--------------------------------------------------------------------------------------------------
.display-f {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.items-center {
	justify-content: center;
	align-items: center;
}

.align-center {
	align-items: center;
}

.align-stretch {
	align-items: stretch;
}

.justify-center {
	justify-content: center;
}

.justify-beetwen {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.flex-grow {
	flex-grow: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

// flex--------------------------------------------------------------------------------------------------
// margin -------------------------------------------------------------------------------------

.margin-auto {
	margin: 0 auto;
}

// margin-0
.mr-top-0 {
	margin-top: 0;
}

.mr-rigth-0 {
	margin-right: 0;
}

.mr-bottom-0 {
	margin-bottom: 0;
}

.mr-left-0 {
	margin-left: 0;
}

// margin-5
.mr-top-5 {
	margin-top: 5px;
}

.mr-rigth-5 {
	margin-right: 5px;
}

.mr-bottom-5 {
	margin-bottom: 5px;
}

.mr-left-5 {
	margin-left: 5px;
}

// margin-10
.mr-top-10 {
	margin-top: 10px;
}

.mr-rigth-10 {
	margin-right: 10px;
}

.mr-bottom-10 {
	margin-bottom: 10px;
}

.mr-left-10 {
	margin-left: 10px;
}

// margin-15
.mr-top-15 {
	margin-top: 15px;
}

.mr-rigth-15 {
	margin-right: 15px;
}

.mr-bottom-15 {
	margin-bottom: 15px;
}

.mr-left-15 {
	margin-left: 15px;
}

// margin-20
.mr-top-20 {
	margin-top: 20px;
}

.mr-rigth-20 {
	margin-right: 20px;
}

.mr-bottom-20 {
	margin-bottom: 20px;
}

.mr-left-20 {
	margin-left: 20px;
}

// margin-25

.mr-top-25 {
	margin-top: 25px;
}

.mr-rigth-25 {
	margin-right: 25px;
}

.mr-bottom-25 {
	margin-bottom: 25px;
}

.mr-left-25 {
	margin-left: 25px;
}

// margin-30

.mr-top-30 {
	margin-top: 30px;
}

.mr-rigth-30 {
	margin-right: 30px;
}

.mr-bottom-30 {
	margin-bottom: 30px;
}

.mr-left-30 {
	margin-left: 30px;
}

// margin-35

.mr-top-35 {
	margin-top: 35px;
}

.mr-rigth-35 {
	margin-right: 35px;
}

.mr-bottom-35 {
	margin-bottom: 35px;
}

.mr-left-35 {
	margin-left: 35px;
}

// margin-40

.mr-top-40 {
	margin-top: 40px;
}

.mr-rigth-40 {
	margin-right: 40px;
}

.mr-bottom-40 {
	margin-bottom: 40px;
}

.mr-left-40 {
	margin-left: 40px;
}

// padding -------------------------------------------------------------------------------------

// padding-5
.pd-top-5 {
	padding-top: 5px;
}

.pd-rigth-5 {
	padding-right: 5px;
}

.pd-bottom-5 {
	padding-bottom: 5px;
}

.pd-left-5 {
	padding-left: 5px;
}

// padding-10
.pd-top-10 {
	padding-top: 10px;
}

.pd-rigth-10 {
	padding-right: 10px;
}

.pd-bottom-10 {
	padding-bottom: 10px;
}

.pd-left-10 {
	padding-left: 10px;
}

// padding-15
.pd-top-15 {
	padding-top: 15px;
}

.pd-rigth-15 {
	padding-right: 15px;
}

.pd-bottom-15 {
	padding-bottom: 15px;
}

.pd-left-15 {
	padding-left: 15px;
}

// padding-20
.pd-top-20 {
	padding-top: 20px;
}

.pd-rigth-20 {
	padding-right: 20px;
}

.pd-bottom-20 {
	padding-bottom: 20px;
}

.pd-left-20 {
	padding-left: 20px;
}

// padding-25

.pd-top-25 {
	padding-top: 25px;
}

.pd-rigth-25 {
	padding-right: 25px;
}

.pd-bottom-25 {
	padding-bottom: 25px;
}

.pd-left-25 {
	padding-left: 25px;
}

// padding-30

.pd-top-30 {
	padding-top: 30px;
}

.pd-rigth-30 {
	padding-right: 30px;
}

.pd-bottom-30 {
	padding-bottom: 30px;
}

.pd-left-30 {
	padding-left: 30px;
}

// padding-35

.pd-top-35 {
	padding-top: 35px;
}

.pd-rigth-35 {
	padding-right: 35px;
}

.pd-bottom-35 {
	padding-bottom: 35px;
}

.pd-left-35 {
	padding-left: 35px;
}

// padding-40

.pd-top-40 {
	padding-top: 40px;
}

.pd-rigth-40 {
	padding-right: 40px;
}

.pd-bottom-40 {
	padding-bottom: 40px;
}

.pd-left-40 {
	padding-left: 40px;
}