// Colors
$accent: #FF7A00;
$black: #0a0a0a;
$white: #ffffff;
$gray: #3D3D3D;
$dark-gray: #1c1d1e;
// Colors
// Font
$font: 'Roboto';

$font-defult: 400 22px/26px $font;
$font-small: 400 18px/22px $font;
$font-big: 400 30px/ 36px $font;
// Font